* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
#canvas {
  border: 1px solid black;
  background-color: azure;
  margin: 0 auto;
  display: block;
}
